
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (unknown)
  creationTimestamp: null
  name: baremetalmachinetemplates.cluster-api-provider-hcloud.capihc.com
spec:
  group: cluster-api-provider-hcloud.capihc.com
  names:
    categories:
    - cluster-api
    kind: BareMetalMachineTemplate
    listKind: BareMetalMachineTemplateList
    plural: baremetalmachinetemplates
    singular: baremetalmachinetemplate
  scope: Namespaced
  versions:
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: BareMetalMachineTemplate is the Schema for the bareMetalMachine API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BareMetalMachineTemplateSpec defines the desired state of BareMetalMachineTemplate
            properties:
              template:
                description: BareMetalMachineTemplateResource describes the data needed to create am BareMetalMachine from a template
                properties:
                  spec:
                    description: Spec is the specification of the desired behavior of the machine.
                    properties:
                      imagePath:
                        type: string
                      partition:
                        type: string
                      port:
                        type: integer
                      providerID:
                        description: ProviderID is the unique identifier as specified by the cloud provider.
                        type: string
                      robotTokenRef:
                        properties:
                          passwordKey:
                            type: string
                          tokenName:
                            type: string
                          userNameKey:
                            type: string
                        type: object
                      sshTokenRef:
                        properties:
                          privateKey:
                            type: string
                          publicKey:
                            type: string
                          sshKeyName:
                            type: string
                          tokenName:
                            type: string
                        type: object
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
