
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (unknown)
  creationTimestamp: null
  name: hcloudvolumes.cluster-api-provider-hcloud.capihc.com
spec:
  group: cluster-api-provider-hcloud.capihc.com
  names:
    categories:
    - cluster-api
    kind: HcloudVolume
    listKind: HcloudVolumeList
    plural: hcloudvolumes
    singular: hcloudvolume
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Location of the volume
      jsonPath: .status.location
      name: Location
      type: string
    name: v1alpha3
    schema:
      openAPIV3Schema:
        description: HcloudVolume is the Schema for the hcloudvolumes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: HcloudVolumeSpec defines the desired state of HcloudVolume
            properties:
              location:
                type: string
              reclaimPolicy:
                description: Size contains the minimum requested size of the volume
                type: string
              size:
                anyOf:
                - type: integer
                - type: string
                description: Size contains the minimum requested size of the volume
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
            type: object
          status:
            description: HcloudVolumeStatus defines the observed state of HcloudVolume
            properties:
              location:
                type: string
              size:
                anyOf:
                - type: integer
                - type: string
                description: Size contains the actual size of the volume
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              volumeID:
                description: VolumeID contains the ID of the releated volume
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
